.without-margin {
  margin: unset;
}
body {
  margin: unset;
}
#header {
  height: 70px;
  background-color: #eff7e1;
  position: relative;
}
#header .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a2d0c1;
  position: absolute;
  top: 5px;
  left: 30px;
}
#header .items {
  position: absolute;
  top: 5px;
  left: 300px;
  display: flex;
}
#header .items .item {
  width: 100px;
  height: 30px;
  background-color: #a2d0c1;
  display: inline-block;
  margin: 10px;
}
#content {
  background-color: #f8dc81;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.frame {
  border-style: solid;
  border-radius: 4px;
  border-width: 3px;
  width: 100px;
  height: 100px;
  margin: 5px;
}
.frame-light {
  border-color: #214151;
  background-color: #a2d0c1;
  border-style: solid;
  border-radius: 4px;
  border-width: 3px;
  width: 100px;
  height: 100px;
  margin: 5px;
}
.frame-dark {
  border-color: #a2d0c1;
  background-color: #214151;
  border-style: solid;
  border-radius: 4px;
  border-width: 3px;
  width: 100px;
  height: 100px;
  margin: 5px;
}
